:root {
    --primary: #e0fbfc;
    --secondary: #c2dfe3;
    --accent: #9db4c0;
    --annotation: #5c6b73;
    --background: #253237;
    --background-light: #2b3940;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


:root * {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color: var(--primary);
}

html {
    background-color: var(--background);
}

body {
    margin: 0 !important;
}

::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: var(--annotation);
}

.container {
    max-width: 90vw;
    min-width: 400px;
    margin: 0 auto;
}
@media screen and (min-width: 1000px) {
    .container {

    }
}
@media screen and (max-width: 1000px) {
     .container {


     }
 }

@media screen and (min-width: 600px) {
    ::-webkit-scrollbar {
        width: 0.75rem;
    }
}

