:root {
    --primary: #e0fbfc;
    --secondary: #c2dfe3;
    --accent: #9db4c0;
    --annotation: #5c6b73;
    --background: #253237;
    --background-light: #2b3940;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


:root * {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color: var(--primary);
}

html {
    background-color: var(--background);
}

body {
    margin: 0 !important;
}

::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: var(--annotation);
}

.container {
    max-width: 90vw;
    min-width: 400px;
    margin: 0 auto;
}
@media screen and (min-width: 1000px) {
    .container {

    }
}
@media screen and (max-width: 1000px) {
     .container {


     }
 }

@media screen and (min-width: 600px) {
    ::-webkit-scrollbar {
        width: 0.75rem;
    }
}

.dt-table {
    width: 95vw !important;
    margin: 0 2vw;
}

/*Table Style*/
.dt-table > tbody * {
    color: var(--primary);
    background-color: var(--background);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--annotation);
    border-right: 1px solid var(--annotation);
    border-left: 1px solid var(--annotation);
    padding: 0.5rem;
    text-align: left;
    vertical-align: middle;
    line-height: 1.5;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}

.dt-table > tbody tr:first-child * {
    border-top: 1px solid var(--annotation);
}

.dt-thead > tr:last-child {
    font-size: 1.4rem;
}

.dt-tbody > tr > td * {
    border: none;
}

.dt-select {
    background: var(--background);
}
